<h2>My <%= pluralize(@locations.size, "location") %></h2>

<% @locations.each_with_index do |location, index| %>

  <p data-id="<%= location.id %>">
    Location <%= index+1 %>: Lat: <%= location.lat %>, Long: <%= location.lng %><br />
    <%= link_to "Delete",
      location_path(location.id),
      :confirm => "Are you sure?",
      :method => :delete,
      :remote => true %>
  </p>

<% end %>