<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Online Traffic Data", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Blog",    '#' %></li>
          <li><a href="https://twitter.com/SimplyTraffic">Twitter</a></li>
          <% if user_signed_in? %>
            <li>
            <%= link_to('Locations', locations_path, :method => :get) %>
            </li>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
            <%= link_to('Login', new_user_session_path)  %>  
            </li>
          <% end %>
          <li><%= link_to "Request More Info", '#' %></li>
        </ul>
      </nav>
    </div>
  </div> 
</header>