<!DOCTYPE html>
<html>

  <head>

    <title>Traffic</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS71Q3587mIlEgSkox-I1UwI0miFv4Zeo&sensor=true">
    </script>

    <%= yield :head %>

  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <%= render 'layouts/footer' %>

  </body>

</html>
